<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>何礼 - 个人网站 </title>
	<link rel="shortcut icon" type="image/x-icon" href="css/img/ico.ico">
	<link rel="stylesheet" href="css/index.css" type="text/css" />
</head>

<body>
<div style="height: 612px; width: 1349px; display: none;" id="lodgingbox" class="lodgingbox"></div>

<div  class="re_ren" ></div>
<div  class="re_xian" >
	<div  class="re_xian1"></div>
    <div class="mao"></div>
</div>
<div class="re_yu"></div>
<div  class="navbox">
	<div class="navSbox">
    	<div><a title="点击进入欢迎页" class="navlogo" href=""></a></div>
        <ul class="navbar">
        	<li class="active"><a href="">首页</a></li>
            <li><a href="case/">个人作品</a></li>
        </ul>
    </div>
</div>	
<div class="wrap">
<div class="letterbox">
	<div class="letterleft">
    	<h5></h5>
        <div class="letterPbox_R">
            <div class="letterPbox_B">
                <div class="letterPbox">
                    <p>欢迎来到我的小站，为了方便您能更好的了解我的技术，特花了两个星期完成此站，详情请点击个人作品！</p>
                    <p>本人工作认真踏实，责任心强、热忱，合作精神佳且具备优秀的表达能力。本着为公司创造价值，与时俱进的原则，为自己及集体努力工作，为实现自我价值而不楔奋斗，能够独立工作、思想成熟、应变能力强。</p>
                    <p>个人性格特点：自信、乐观、谦虚、诚恳。</p>
					<p>个人爱好：运动、看书、构思、研究学习新技术。</p>
                </div>
            </div>
       </div>
    </div>
    <div class="letterimg"></div>
</div>





</div>

<div class="T_bottom">
	<div class="T_botcon"></div>
</div>
</body>
</html>